@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600&display=swap');

:root {
	--color-black: #0d0807;
	--color-ligthBlack: #0d0807cc;
	--color-darkBrown: #452a10;
	--color-mediumBrown: #6e4c34;
	--color-lightBrown: #8d633b;
	--color-nougat:#a37e59;
	--color-orange: #DF7F02;
	--color-grey: #e0dede;
	--color-darkgrey:#919090;
	--color-white: #eeeeee;
	--color-whiteTransp: rgba(255, 255, 255, 0.815);
}

body{
	font-family: 'Akshar', sans-serif;
    background-image: url("./assets/background.jpg");
    background-size: cover;
    overflow: hidden;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;

	min-height: 100vh;

	@media (min-width: 668px) {
		align-items: center;
	}
}

a {
	text-decoration: none; 
}

#chk{
	display: none;
}
.login{
	position: relative;
	width:100%;
	height: 100%;
}

h1 {
	color: var(--color-white);
	font-size: 1.5em;
    letter-spacing: 3px;
	justify-content: center;
	display: flex;
	margin: 40px 30px 20px;
	font-weight: bold;
}

label {
	color: var(--color-white);
	font-size: 2.3em;
  	letter-spacing: 3px;
	justify-content: center;
	display: flex;
	margin: 60px 60px 35px 60px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}

input{
	width: 60%;
	height: 20px;
	background-color: var(--color-grey);
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}

.register{
	height: 460px;
	background: var(--color-white);
	border-radius: 100% / 40%;
	transform: translateY(-200px);
	transition: .8s ease-in-out;
	z-index: -10;
}

.register label{
	color: var(--color-mediumBrown);
	transform: scale(.6);
	padding-top: 15px;
}

#chk:checked ~ .register{
	transform: translateY(-500px);
}
#chk:checked ~ .register label{
	transform: scale(1);
	padding-top: 50px;
}
#chk:checked ~ .login label{
	transform: scale(.6);
	
}
